.basket-list {
  margin: 0 15px 15px;
  padding: 0;
}

.add-credit {
   display: block;
   width: calc(100% - 40px);
   margin: 20px 20px 20px;
   padding: 0;
   text-align: center;
}

.add-credit-text {
    line-height: 44px;
}

.basket-empty {
  display: flex;
  height: calc(100vh - (48px + 60px + 53px));
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &-text {
    margin: {
      top: 1em;
    }
    font-size: 16px;
    letter-spacing: 0.1em;
    color: $secondary-text-color;
    text-transform: uppercase;
  }
}

.basket-item {
  &-wrapper {
    display: flex;
    height: 60px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
  }

  &-name {
    font-size: 16px;
  }

  &-cost {
    font-size: 18px;
  }

  &-action-wrapper {
    display: flex;
    align-items: center;
  }

  &-remove, &-disabled {
    position: relative;
    width: 44px;
    height: 44px;
    padding: 0;
    margin: 0 -9px 0 0;
    border: 0;
    background-color: transparent;
    font-size: 18px;
    color: $black-color;

    &:after {
      content: "";
      position: absolute;
      top: 9px;
      left: 9px;
      width: 25px;
      height: 25px;
      box-sizing: border-box;
      border: 1px solid $accent-color;
      border-radius: 10px;
    }
  }

  &-remove {
      &:before {
        content: "";
        position: absolute;
        left: 50%;
        width: 10px;
        margin: {
          left: -5px;
        }
        border-bottom: 1px solid $black-color;
      }
  }
}

.basket-item-count {
  border-radius: 10px;
  background: $accent-color;
  color: white;
  padding: 7px 10px;
  margin-right: 10px;
  position: absolute;
  top: -6px;
}

.basket-item-name {
    padding-left: 40px;
    max-width: 150px;
    white-space: nowrap;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
}

.basket-item-info-wrapper {
    position: relative;
}
