.notification-wrap {
    background-color: $accent-color;
    color: $primary-color-text;
    border-radius: 2px;
    position: fixed;
    bottom: 10px;
    z-index: $z-index-3;
    width: calc(100% - 20px);
    max-width: $app-max-width;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    margin: 0 10px;
    &.off-screen {
        bottom: -100px;
    }

    @media (min-width: $app-max-width) {
        margin: 0;
    }
}

.notification {
  padding: 15px 45px 15px 60px;
  margin: 0;
}
.notification-link {
    text-decoration: none;
    display: block;
    color: white;
}

.notification-icon {
  background-color: $primary-color-text;
  border-radius: 30px;
  padding: 5px;
  font-size: 20px;
  color: $accent-color;
  background-color: #FFFFFF;
  border-radius: 30px;
  padding: 5px;
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -15px;
}
