.loader-wrap {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -70px;
    left: 50%;
    margin-left: -25px;
}


// keyframes
@keyframes moving-line {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes move-up-1 {
  0% {
    transform: translateY(15px);
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

@keyframes move-up-2 {
  0% {
    transform: translateY(5px);
  }


    30% {
      opacity: 1;
    }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-20px);
    opacity: 0;
  }
}

@keyframes move-up-3 {
  0% {
    transform: translateY(17px);
  }


    30% {
      opacity: 1;
    }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}

$drink-line-duration: 5s;
$bubbles-delay: 1s;
$bubbles-gap: 0.5s;
$bubbles-duration: 1.5s;


//animation
.drink-line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: moving-line $drink-line-duration linear alternate;
  animation-fill-mode: forwards;
  animation-delay: 0;
}

.bubble-1 {
    animation: move-up-1 $bubbles-duration linear infinite;
    animation-delay: $bubbles-delay;
}

.bubble-2 {
    animation: move-up-2 $bubbles-duration linear infinite;
    animation-delay: $bubbles-gap;
}

.bubble-3 {
    animation: move-up-3 $bubbles-duration linear infinite;
    animation-delay: $bubbles-delay * 2 + $bubbles-gap;
}

.bubble {
    opacity: 0;
}
