.header-button {
  background: inherit;
  border: 0;
  color: $primary-color-text;
  font-size: 14px;
  padding: 5px 0;
  position: absolute;
  right: $gutter;
  top: $top-pad;
}

.social-button {
  background: inherit;
  border: 0;
  color: $secondary-text-color;
  font-size: 40px;
  margin: 0 10px;
  height: 42px;
  padding: 0;

  .icon {
    vertical-align: top !important;
  }
}

.primary-button {
  background-color: $accent-color;
  border: 0;
  border-radius: 4px;
  color: $primary-color-text;
  font-size: 14px;
  padding: 10px 20px;
}

.button-wrap {
    .social-button {
      float: right;
    }
}
