.primary-aside {
    position: fixed;
    max-width: $app-max-width;
    bottom: 0;
    z-index: $z-index-2;
    width: 100%;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    li {
        flex-grow: 1;
    }
    a {
        text-decoration: none;
        text-align: center;
        display: block;
        text-transform: uppercase;
        padding: 17px;
        background: white;
        color: $color-steel-two;
        &:hover {
            background-color: $hover-state-color;
        }
        &.active {
            color: $accent-color;
        }
    }
}
