.header {
  background-color: $primary-color;
  border-top: 25px solid $primary-color-dark;
  color: $primary-color-text;
  padding: $gutter $top-pad;
  position: relative;

  .icon {
    font-size: 30px;
    margin-right: 4px;
  }
}

.home-link {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
}

.app-title {
  font-size: 22px;
  margin: 0;
}

.app-title-text {
  display: inline;
  vertical-align: middle;
}

.profile-photo {
  width: 40px;
  border-radius: 30px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 9px;
}
