.header {
  background-color: $header-bg-color;
  color: $primary-color-text;
  padding: $top-pad $gutter;
  position: relative;

  .icon {
    font-size: 30px;
    margin-right: 4px;
  }
}

.home-link {
    color: white;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
}

.app-title {
  margin: 0;
  text-transform: uppercase;;
  text-align: center;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.0;
  letter-spacing: 4px;
  font-size: 16px;
}

.app-title-text {
  display: inline;
  vertical-align: middle;
}

.profile-photo {
  width: 35px;
  border-radius: 30px;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 9px;
}
