@import './config/vars';

@import './components/basket/Basket';

@import './components/header/header';
@import './components/button/button';
@import './components/form/form';
@import './components/loader/loader';


body {
  min-width: $min-width;
  margin: 0;
  padding: 0;
}

body, h1, h2, h3, h4, label, button {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

.main-container {
  padding: $container-pad;
  display: block;
}

.hidden {
  display: none;
}
