@import './config/vars';

body {
  min-width: $min-width;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: $font-family-default;
}

body, h1, h2, h3, h4, label, button {
    font-family: $font-family-default;
    font-weight: 300;
    margin-top : 0;
}

.main-container {
  padding: $container-pad;
  display: block;
}

.hidden {
  display: none;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.hidden-label {
    @extend .visuallyhidden;
}

main {
    display: block;
    padding-bottom: 60px; //make room for nav
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    color: $heading-text-color;
    .cost {
        color: $color-steel-two;
        font-size: 14px;
    }
    .product-name, .name {
        text-transform: capitalize;
        margin-right: 10px;
    }
    li {
        box-shadow: inset 0 -1px 0 0 rgba(210, 210, 210, 0.5);
    }
    .list-item-wrapper {
        padding: 20px;
        display:block;
    }
}

.masked {
    position: relative;
    &:before {
        content: "";
        display: block;
        position: absolute;
        opacity: 0.85;
        background-color: #0b1d33;
        width: 100%;
        height: 100%;
        min-height: 1000px;
        z-index: $z-index-3;
        top: 108px;
    }
}

.full-height {
 height: 100%;
}

.in-app-title {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $heading-text-color;
    margin: 30px 0;
}

@import './components/header/header';
@import './components/button/button';
@import './components/form/form';
@import './components/loader/loader';
@import './components/notification/notification';
@import './components/activity/activity';
@import './components/product-list/product-list';
@import './components/main-layout/main-layout';
@import './components/menu/menu';
@import './components/total/total';


@import './views/login/login';
@import './views/authenticated/admin/admin';
@import './views/authenticated/add-credit/add-credit';
@import './views/authenticated/filters/filters';
