.product-list {
  @extend .list;

  .product-image, .product-info {
      display: inline-block;
      vertical-align: top;
  }
  .product-info {
      margin-left: 30px;
      display: inline-block;
      width: calc(100% - 110px);
  }
  .product-button-wrap {
      text-align: right;
      width: 100%;
      display: block;
  }
  .out-of-stock-wrap,
  .product-button-wrap {
      margin-top: 20px;
  }
  .product-name {
    display: block;
    margin-bottom: 5px;
  }
  .cost {
      display: block;
  }
}

.out-of-stock {
   background-color: rgba(128, 128, 128, 0.11);
}
