.product-list {
  @extend .list;
  .list-item-wrapper {
     display: flex;
  }
  .product-image, .product-info {
      display: inline-block;
      vertical-align: top;
  }
  .product-info {
      margin-left: 30px;
      flex-grow: 1;
  }
  .product-button-wrap {
      margin-top: 20px;
      width: 100%;
        text-align: right;
        display: block;
  }
  .product-name {
    display: block;
    margin-bottom: 5px;
  }
  .cost {
      display: block;
  }
}
